html,
body {
	width: 100%;
	height: 100%;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

h1 {
	font-family: 'Crete Round', serif;
	color:#222222;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

#mainNav {
	border-color:rgba(34,34,34,0.05);
	background-color: white;
	-webkit-transition: all .35s;
	transition: all .35s;
	font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
	font-weight: 200;
	letter-spacing: 1px;

}

#mainNav .navbar-brand {
  color: #e74c3c;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: white;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav > li > a {
  font-size: 13px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;

}

#mainNav .navbar-nav > li > a.active {
  color: #e74c3c !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #e74c3c;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;

  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: white;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: white;
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: black;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: #e74c3c;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #e74c3c;
  }
}


header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 200px;
  color: white;
  background: url("../img/header.jpg");
}

header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
  background-color: white;
  opacity: 0.7;
  padding:15px;
  float:right; display: none
}

header.masthead .header-content .text-box {
  text-align: justify;
  color: black
}

header.masthead .header-content h1 {
  font-size: 30px;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  header.masthead .header-content h1 {
    font-size: 40px;
  }
  header.masthead .device-container {
    max-width: 325px;
  }

  .breaker {
    padding-bottom: 80px;
    background-color: #f2f2f2;
  }

  #service {
    opacity: 0;
  }

  .skills {
    background-size: 100%;
  }

}

.my-logo {
	width: 125px;
	border-radius:20px;
}

.i-do-section{
	padding-top: 60px;
	padding-bottom:30px;
}

#service {
   background-color: #f2f2f2;
 
}


.service {
	padding-top: 20px;
	font-family: 'Crete Round', serif;

}

.skills {
  position: relative;
  width: 100%;
  background-image: url('../img/skills.jpeg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.skills h1 {
  color: white;
}

.skills h2{
  color:white;
}

.skills ul li {
  color: white;
  font-size: 20px;
}

.content-service {
  padding-top: 10px;
  padding-bottom: 10px;
}

.progress{
    height: 20px;
    line-height: 15px;
    border-radius: 5px;
    background: #f0f0f0;
    margin-bottom: 30px;
    box-shadow: none;
    overflow: visible;
}

.progress-bar{
    position: relative;
    border-radius: 0;
    opacity: 0;
}

.progress .progress-value{
    display: block;
    font-size: 13px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 8px;
}

@-webkit-keyframes animate-positive{
    0% { width: 0%; }
}
@keyframes animate-positive{
    0% { width: 0%; }
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
  
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;

}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgb(255,0,0, 0.6);  

}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}



#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  background-color: #f8f8f8;
}



#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#portfolio * {
  z-index: 2;
}

#article {
   background-color: #f2f2f2;
 
}



#article {
  background: #fff;
  padding: 80px 0;
}

#article #article-wrapper {
  padding-right: 15px;
}






#article .article-item {
  position: relative;
  height: 300px;
  overflow: hidden !important;
  margin-bottom: 15px;
  transition: all 350ms ease;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#article .article-item a {
  display: block;
  margin-right: 15px;
}

#article .article-item img {
  position: relative;
  top: 0;
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#article .article-item .details {
  
  background: #E43C5C;
  position: absolute;
  width: 100%;
  height: 180px;
  bottom: -50px;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#article .article-item .details h4 {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  padding: 8px 0 2px 8px;
  margin: 0;
}

#article .article-item .details span {
  display: block;
  color: #fff;
  font-size: 13px;
  padding-left: 8px;
}

#article .article-item:hover .details {
  bottom: 0;
}

#article .article-item:hover img {
  top: -30px;
}
