html,
body {
	width: 100%;
	height: 100%;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

h1 {
	font-family: 'Crete Round', serif;
	color:#222222;
}

h2 {
	font-family: 'Crete Round', serif;
	color:#222222;
	font-size:28px;
}

h3,h4 {

  color:#222222;
}

h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

#mainNav {
	border-color:rgba(34,34,34,0.05);
	background-color: white;
	-webkit-transition: all .35s;
	transition: all .35s;
	font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
	font-weight: 200;
	letter-spacing: 1px;

}

#mainNav .navbar-brand {
  color: #e74c3c;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: white;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav > li > a {
  font-size: 13px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;

}

#mainNav .navbar-nav > li > a.active {
  color: #e74c3c !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #e74c3c;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;

  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: white;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: white;
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: black;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
    -webkit-box-shadow: -5px 4px 33px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 4px 33px -10px rgba(0,0,0,0.75);
    box-shadow: -5px 4px 33px -10px rgba(0,0,0,0.75);
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: #e74c3c;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #e74c3c;
  }
}


header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 200px;
  color: white;
  background: url("../img/header.jpg");
}

header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
  background-color: white;
  opacity: 0.7;
  padding:15px;
  float:right; 
}

header.masthead .header-content .text-box {
  text-align: justify;
  color: black
}

header.masthead .header-content h1 {
  font-size: 30px;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  header.masthead .header-content h1 {
    font-size: 40px;
  }
  header.masthead .device-container {
    max-width: 325px;
  }

  .breaker {
    padding-bottom: 80px;
    background-color: #f2f2f2;
  }

  #service {
    opacity: 0;
  }

  .skills {
    background-size: 100%;
  }

   .invited {
    background-size: 100%;
  }

	  
	.thumbs-article {
		width: 100%;
		background-color: white;
	}
  .thumbs-image {
    height: 100px;
  }
  
  .thumbs-date {
    margin-top:9px;
    font-size: 11px;
  }

	.thumbs-content {
		width: 100%;
		height: auto;
		
	}

	.thumbs-title {
		margin:0;
		padding: 0;
		font-size:15px;
	}

	.thumbs-link {
		color:#222;
	}

	.thumbs-link:hover {
		text-decoration: none;
		color: #e74c3c;
	}

	.text-desc {
		font-size: 11px;
		margin:0;
		padding: 0;
		background-color: #F1423B;
		color:white;
		border-radius: 6px;
		padding-left: 2px;
		padding-right: 2px;
	}

	a .text-desc:hover {
		
		background-color: #222;
		text-decoration: none;
		color:white;
	}

	.thumbs-hr {
		width: 100%;
		padding: 0;
		margin:0;
		margin-top:8px;
		margin-bottom: 8px;
	}

	.right-menu {
    background-color: white;
    margin-bottom:20px;
    transition: all ease 0.5s
	}

  .right-menu:hover p {
    color:#e74c3c;
    transition: all ease 0.5s
  }
  .progress{
    height: 20px;
    line-height: 15px;
    border-radius: 5px;
    background: #f0f0f0;
    margin-bottom: 30px;
    box-shadow: none;
    overflow: visible;
}

.progress-bar{
    position: relative;
    border-radius: 0;
    opacity: 0;
}

.progress .progress-value{
    display: block;
    font-size: 13px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 8px;
}

@-webkit-keyframes animate-positive{
    0% { width: 0%; }
}
@keyframes animate-positive{
    0% { width: 0%; }
}

}

.content-article .caption-article .link-article-mobile {
	padding-left:10px;
	padding-right: 10px;
}

.my-logo {
	width: 125px;
	border-radius:20px;
}

.i-do-section{
	padding-top: 60px;
	padding-bottom:30px;
}

#service {
   background-color: #f2f2f2;
}


.service {
	padding-top: 20px;
	font-family: 'Crete Round', serif;

}

.skills {
  position: relative;
  width: 100%;
  background-image: url('../img/skills.jpeg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.skills h1 {
  color: white;
}

.skills h2{
  color:white;
}

.skills ul li {
  color: white;
  font-size: 20px;
}

.content-service {
  padding-top: 10px;
  padding-bottom: 10px;
}



#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
  
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;

}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgb(255,0,0, 0.6);  

}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}



#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  background-color: #f8f8f8;
}



#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
 
}

#portfolio * {
  z-index: 2;
}

#article {
  background-color: #f2f2f2;
}

.content-article {
  background-color: white;
  -webkit-box-shadow: -1px 0px 32px -9px rgba(0,0,0,0.5);
  -moz-box-shadow: -1px 0px 32px -9px rgba(0,0,0,0.5);
  box-shadow: -1px 0px 32px -9px rgba(0,0,0,0.5);
}

.content-article .caption-article h2 {
  text-align: center;
  margin-left:10px;
  margin-right: 10px;
}

.content-article .caption-article a{
	color:#222;
  transition: 0.4s;
}

.content-article .caption-article a:hover {
	text-decoration: none;
	color:#E52544;
  transition: 0.4s;

}

.content-article .caption-article hr {
  margin:0;
  padding-bottom: 6px;
}

.content-article .caption-article p {
  padding:0px 15px 0px 15px;
  text-align: justify;
  font-size:16px;
  
}

.content-article .caption-article .text-ket{
	font-size: 13px;
	margin-bottom: 12px;
	margin-left: 15px;
	margin-right: 15px;
	padding: 0;
  color:grey;
  text-align: center;
}

.btn-article {
  margin-bottom: 20px;

}



.my-thumbnail {
  width: 100%;
  margin-bottom:15px;
}

.invited {
  padding-top: 60px;
  padding-bottom: 30px;
 
}

.invited h1 {
  color:#222;
}

section#contact {
  background-color: #c0392b;
  background-image: url("../img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 90px;
  padding-bottom: 90px;
}
#contact h1 {
  color:white;
  margin-bottom: 40px;
}
section#contact .section-heading {
  color: #fff;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}

section#contact .form-control:focus {
  border-color:  red;
  -webkit-box-shadow: none;
  box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
 }

section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
 }

section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
 }

section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
 }

 footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #222;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #e74c3c;
}

.cover-page-article {
	width: 100%;
	height: 190px;
	background: url('../img/invite.jpg');
	background-position: center;
	background-size: cover;
	margin-top:60px;
	text-align: center;
	
}

.cover-page-article .title-page {
	background-color: white;
	width: auto;
	margin-top: 65px;
}

.pagination-color {
	color: red;
}

.pagination-color:hover {
	color:white;
	background-color: #E52544;
}

.body-read-article {
	padding-top: 100px;
}

.bottom-list {
    position: relative;
    float: left;
    width:  100%;
    height: 120px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

.bottom-caption {
	background-color: white;
	margin-bottom: 20px;
	padding-left:8px;
	padding-right:8px;
}

.bottom-category {
	font-size: 11px;
	margin:0;
	padding: 0;
	background-color: #F1423B;
	color:white;
	padding-right: 2px;
}

.bottom-title a{
	color:#222;
	font-size: 18px;
}

.bottom-title a:hover {
	text-decoration: none;
	color:#F1423B;
}

#share-fb{
  display: inline;

}

/*  ADMIN */

.login-body {
  position: relative;
  width: 100%;
  padding-top: 146px;
  padding-bottom: 100px;
  background: url("../img/bg-pattern.png"), -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
  background: url("../img/bg-pattern.png"), linear-gradient(to left, #7b4397, #dc2430);
}



.adminh1 {
    font-family: 'Crete Round', serif;
    transition: 0.4s;
  }

  .adminh1:hover{
    color:#E52444;
    transition: 0.4s;
  }

  .tags {
    background-color: #E52444;
    
    padding:3px;
    border-radius:5px;
    font-size:12px;
    color:white;
    margin-right: 5px;
  }

  .tags:hover {
    text-decoration: none;
    background-color: grey;
    color:white;
  }